@font-face{font-family: 'poppins';src: url(../fonts/Poppins-LightItalic.ttf)}

body{
    background-image: url(../pictures/rogue.jpg);
    background-size: cover;
}

.score{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    color: gold;
    font-family: 'poppins';
}

table{
    color: gold;
    margin-left: 100px;
    margin-right: 100px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thekeypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35px;
    grid-gap: 5px;
    max-width:120px;
}

.keypad_btn{
    background-color: black;
    opacity: 0.75;
    color: cyan;
}

#game_over{
    display: none;
    font-size: 80px;
    color: red;
    text-align: center;
    flex-direction: column;
}

#retry1{
    background-color: red;
    border-radius: 15px;
    font-family: 'poppins';
    font-size: 15px;
}

#quit{
    background-color: green;
    border-radius: 15px;
    font-family: 'poppins';
    font-size: 15px;
}